/****************************************
 CSS RESET
****************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************************************
 Base Rules
****************************************/

body{
  font-family: 'Open Sans', sans-serif;
  min-width: 600px;
}

h1{
  font-size: 52px;
  font-weight: 900;
}

p{
  font-family: 'Gentium Book Basic', serif;
  font-size: 14px;
  font-weight: 400;
  color: #99a0a8;
}

.gradient{
  background: -webkit-linear-gradient(#ff6868, #a1575c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input{
  display: inline;
  height: 46px;
  width: 337px;
  border-radius: 3px;
  border: 0;
  background-color: #4a515b;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 25px;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 25px;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: 25px;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  padding-left: 25px;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: bold;
}

.button{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #ff6868;
  border: 0;
  border-radius: 8px;
  padding: 17px 28px;
  cursor: pointer;
}

.three-buttons{
  display: inline-block;
  text-decoration: none;
  margin: 30px 10px 0 0;
}

.three-buttons i{
  font-size: 12px;

  background: -webkit-linear-gradient(#ff6868, #a1575c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.test{
  position: relative;
background: linear-gradient(rgb(252,238,33), rgb(255,255,255));
-webkit-border-radius:50px;
-moz-border-radius:50px;
border-radius:50%;
width:100px;
height:100px;
}
.test:after {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  content: "";
  background-color: transparent;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}

/****************************************
Layout
****************************************/

.wrap{
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 180px;
  padding-right: 180px;
}

/****************************************
Header
****************************************/

.header{
  background-color: rgba(51,59,69,0.97);
  padding: 30px 0;
  width: 100%;
}

.header .wrap{
  font-size: 0;
}

.logo{
  display: inline-block;
  color: #ff6868;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
}

.menu-header{
  list-style: none;
  font-size: 0;
  text-align: right;
  margin-top: -33px;
}

.menu li{
  display: inline-block;
  font-size: 14px;
}

.menu a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  padding: 8px 8px;
  margin: 0 2px;
}

/****************************************
Main
****************************************/

.main{
  height: 628px;
  background-image: url("../img/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
}

.main_area{
  padding-top: 110px;
  width: 100%;
  max-width: 460px;
}

.main p{
  padding: 32px 0;
}
